<%= image_tag @park.image.url(:medium) %>
<p>
  <strong>Title:</strong>
  <%= @park.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @park.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @park.location %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @park.rating %>
</p>

<%= link_to 'Edit', edit_park_path(@park) %> |
<%= link_to 'Back', parks_path %>
