<div class="panel panel-default">
  <div class="panel-body">
    <div class="row"></div>
      <div class="cold-md-4">
        <%= image_tag @park.image.url(:medium) %>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Title:</strong></td>
                <td><%= @park.title %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @park.description %></td>
              </tr>
              <tr>
                <td><strong>Location:</strong></td>
                <td><%= @park.location %></td>
              </tr>
            </tbody>
          </table>
          <%= link_to "Write a Review", new_park_review_path(@park) %>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="review_title"><%= @park.title %></h1>
        <p><%= @park.description %></p>

        <% if @reviews.blank? %> 
          <h3>No reviews yet. Add the first!</h3>
          <%= link_to "Write A Review", new_park_review_path(@park), class: "btn btn-default" %>

        <% else %> 
          <% @reviews.each do |r| %> 
            <div class="rating">
              <%= r.rating %> 
              <%= r.comment %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_park_path(@park), class: "btn btn-default" %>
<%= link_to 'Back', parks_path, class: "btn btn-default" %>
